@charset "utf-8";

.github-badge{
    width: 140px;
    height: 140px;
    position: fixed;
    top: 0;
    right: 0;
}

.github-badge:before{
    content: "";
    width: 0;
    height: 0;
    border-top: 0 solid transparent;
    border-right: 140px solid #232323;
    border-bottom: 140px solid transparent;
    display: block;
    text-align: center;
}

.github-badge img{
    max-width: 60px;
    width: 100%;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 10px;
    right: 10px;
}